/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #1F1F1F;
}

section{
    padding: 2rem 3rem;
    width: 100%;
}

/* common */
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}